html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.nav_wrap {
  width: 100%;
  padding: 1rem;
  margin-bottom: 50px;
}

.search_page{
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 9;
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -300px;
}

.hamburger_menu{
  position: absolute;
  right: 1rem;
  align-items: center;
}

.search_box{
    padding: 10px 15px;
    border-radius: 30px;
    background: #ffffff;
    display: flex;
}

.logo_area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.logo_area img{
    cursor: pointer;
    width: 150px;
}

.login_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login_button:hover{
    font-weight: bold;
}

.search_button:hover{
    font-weight: bold;
}

.menu_list li:hover{
    font-weight: bold;
}



.search_button{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search_close{
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 2%;
}

.sec2{
  display: none;
}

.sec3 {
  position: absolute;
  right: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu_area {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.menu_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    gap: 30px;
    padding: 0;
}

.menu_list li{
    text-align: center;
    cursor: pointer;
}

.product_img {
    width: 252px;
    height: 360px;
    vertical-align: middle;
}

.card_area{
    width: 254px;
    margin: 0 auto;
}

.choice{
    text-align: center;
}

.title{
    text-align: right;
}

.price{
    text-align: right;
}

.search_box input{
    border: 0;
    width: 400px;
    flex: 1;
}
.d_area1{
  display: flex;
  justify-content: center;
}
.d_area2{
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 30px;
  font-size: 25px;
}

.add_button{
  display: flex;
  gap: 50px;
}
.add_button Button{
  width: 100px;
}

@media screen and (min-width: 3060px) {
    .product_img {
      width: 320px;
      height: 460px;
    }
    .card_area {
      width: 322px;
    }
    .menu_list li {
      width: 180px;
    }
    .search_box input {
      width: 600px;
    }
  }
  

  @media screen and (max-width: 3059px) and (min-width: 1920px) {
    .product_img {
      width: 280px;
      height: 400px;
    }
    .card_area {
      width: 282px;
    }
    .menu_list li {
      width: 150px;
    }
    .search_box input {
      width: 500px;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 770px) {
    .product_img{
      width: 200px;
      height: 280px;
    }
    .card_area {
      width: 200px;
    }
    .d_area2{
      margin-top: 50px !important;
      gap: 15px;
      font-size: 25px;
      padding-bottom: 70px;
    }
  }
  @media screen and (max-width: 700px) {
    .logo_area img {
      width: 100px;
    }
    .sec2{
      display: flex !important;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    .menu_list{
      display: none !important;
    }
    .menu_list li {
      width: auto !important;
    }
    .search_box input {
      width: 100% !important;
      max-width: 90vw;
    }
    .sec3{
      display: none !important;
    }
    .d_area2{
      margin-top: 50px !important;
      gap: 15px;
      font-size: 18px;
      padding-bottom: 70px;
    }
    .d_img{
      width: 250px;
    }
  }
 
  @media screen and (max-width: 570px) {
    .product_row {
      justify-content: center !important;
    }
  }
